<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20884476221-jnfu6klpjbqekaoeofmjnf9ndsjlt0rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20884476221-jnfu6klpjbqekaoeofmjnf9ndsjlt0rg</string>
	<key>API_KEY</key>
	<string>AIzaSyANJ4v99f5Mc687nl5hWhrSfnrUUyRw2aI</string>
	<key>GCM_SENDER_ID</key>
	<string>20884476221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MCBK5KYUS5.ch.morea.app</string>
	<key>PROJECT_ID</key>
	<string>dev-pfadi-morea</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-pfadi-morea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20884476221:ios:ac7c78137104b141793554</string>
	<key>DATABASE_URL</key>
	<string>https://dev-pfadi-morea.firebaseio.com</string>
</dict>
</plist>